<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mybasicandroidcodelib.nl.org.mybasicandroidcodelib">

    <user-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="mybasicandroidcodelib.nl.org.codelib.app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="mybasicandroidcodelib.nl.org.codelib.ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </activity>
        <activity
            android:name="mybasicandroidcodelib.nl.org.codelib.ui.main.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name="mybasicandroidcodelib.nl.org.codelib.ui.detail.DetailInfotActivity" />
        <activity android:name="mybasicandroidcodelib.nl.org.codelib.ui.CarListActivity" />
        <activity
            android:name="mybasicandroidcodelib.nl.org.codelib.ui.MapActivity"
            android:launchMode="singleInstance" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f7043a4c4f0ee1e04ad3a67c727effa0" />

        <activity android:name="mybasicandroidcodelib.nl.org.codelib.ui.JurisdictionActivity"></activity>
    </application>

</manifest>